<%if @current_user.nil? == true%>
<table class="loginout">
  <tr>
    <td><%= button_to 'ログイン', login_path, method: :get,class: "btn btn-primary"%></td>
  </tr>
</table>
<%else%>
<table class="loginout">
  <tr>
  <td>ログインユーザ:<%= @current_user.name %></td><br>
  <td><%= button_to 'ログアウト', logout_path, method: :delete,class: "btn btn-primary",data: { confirm: 'ログアウトしますか？' } %></td>
  </tr>
</table>
<%end%>